body {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}
h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}
h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}
a {
    display: block;
    color: aquamarine;
    font-size: 16px;
}
p {
    color: gray;
    font-size: 21px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.footer-text {
    text-align: right;
}